body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
  }  
  a {
    color: #47b2e4;
    text-decoration: none;
  }  
  a:hover {
    color: #73c5eb;
    text-decoration: none;
  }  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #37517e;
  }  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #37517e;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background: #892883;
  }
  #header.header-scrolled, #header.header-inner-pages {
    background: rgba(40, 58, 90, 0.9);
  }
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  #header .logo a {
    color:white;
  }
  #header .logo img {
    max-height: 40px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  .navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    background-color: #892883;
  }
  .navbar li {
    position: relative;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #F8B84E;
  }
  .navbar .getstarted, .navbar .getstarted:focus {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    border: 2px solid #B586BD;
    font-weight: 600;
  }
  .navbar .getstarted:hover, .navbar .getstarted:focus:hover {
    color: #fff;
    background: #F8B84E;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    color: #0c3c53;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #47b2e4;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  } 
   /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 82vh;
    background: #892883;
  }
  #cont{
      color: #F8B84E;
  }
  #hero .container {
    padding-top: 0%;
  }
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  #hero h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
  }
  #hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    border:white solid 1px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
  }
  #hero .btn-get-started:hover {
    background: #F8B84E;
  }
  #hero .btn-watch-video {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
  }
  #hero .btn-watch-video i {
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
  }
  #hero .btn-watch-video:hover i {
    color: #47b2e4;
  }
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  section {
    padding: 20px 0;
    overflow: hidden;
  }  
  .section-bg {
    background-color: #E9C3EF;
  }  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #892883;
  }
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #892883;
    bottom: 0;
    left: calc(50% - 20px);
  }
  .section-title p {
    margin-bottom: 0;
  }   
  
  /*--------------------------------------------------------------
  # Go to Top
  --------------------------------------------------------------*/
  #topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #F8B84E;
  color: #892883;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  }
  #topBtn:hover {
  background-color: #555;
  color: #F8B84E;
  }
  
  /*------- Footer -------*/
  .short-text { display: none; }
  
  @media (max-width: 1200px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
  }
  
  #tab a {
  margin-right: 15px;
  }
  #tab th {
  text-align: left;
  padding-left: 20px;
  }
  #tab td{
   padding-left: 40px;
   text-align: left;
  }
  #tab{
  margin-bottom: -25px;
  }
  #tab1{
  padding-left: 20px;
  }
  #tab1 td{
  padding-left: 20px;
   text-align: left;
  }
  #tab1 th {
  text-align: left;
  }
  
  
  /*--------------------------------------------------------------
  # accept payments online
  --------------------------------------------------------------*/
  
  .html1 {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .column1 {
    float: left;
    width: 33%;
    margin-bottom: 10px;
    padding: 0 8px;
  }
  @media screen and (max-width: 650px) {
    .column1 {
      width: 100%;
      display: block;
    }
  }
  .card1 {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    background-color: purple;
    width: 60%;
    margin-left: 20%;
    border-radius: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
  }
  .card1:hover {
    transform: scale(1.06);
  }
  #cardfont1{
    color: #F8B84E;
  }
  #cardfont2{
    color: white;
  }
  .container1 {
    padding: 0 16px;
  }
  .container1::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }


   .signout_btn:hover{
    background-color: #F8B84E;
    cursor: pointer;
  }
  