body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
}  
a {
  color: #47b2e4;
  text-decoration: none;
}  
a:hover {
  color: #73c5eb;
  text-decoration: none;
}  
h1, h2, h3, h4, h5, h6 {
  font-family: "Jost", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #37517e;
}  
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}  
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}  
@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background: #892883;
}
#header.header-scrolled, #header.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#header .logo a {
  color:white;
}
#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  background-color: #892883;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #F8B84E;
}
.navbar .getstarted, .navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  border: 2px solid #B586BD;
  font-weight: 600;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #F8B84E;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #47b2e4;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
} 
/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
section {
  padding: 20px 0;
  overflow: hidden;
}  
.section-bg {
  background-color: #E9C3EF;
}  
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #892883;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #892883;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {
  margin-bottom: 0;
}   

/*--------------------------------------------------------------
# Go to Top
--------------------------------------------------------------*/
#topBtn {
display: none;
position: fixed;
bottom: 20px;
right: 20px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: #F8B84E;
color: #892883;
cursor: pointer;
padding: 15px;
border-radius: 4px;
}
#topBtn:hover {
background-color: #555;
color: #F8B84E;
}

/*--------------------------------------------------------------
# Window Size Change
--------------------------------------------------------------*/
.short-text { display: none; }

@media (max-width: 1200px) {
  .short-text { display: inline-block; }
  .full-text { display: none; }
}


.flip-card {
  background-color: transparent;
  width: 500px;
  height: 100px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 500px;
  height: 100px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 20px;
  
  box-shadow: 0 4px 8px 0  rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #B586BD;
  color: white;
  border-radius: 20px;
}

.flip-card-back {
  background-color: grey;
  color: white;
  border-radius: 20px;
  transform: rotateY(180deg);
}



.addcontacts_btn{
  color: black;
  background-color: #892883;
  width: 150px;
  height: 40px;
  border-radius: 12px;
  color: white;
  margin-left: 85%;
  border-color: white;
  }
  
.addcontacts_btn:hover{
  color: white;
  background-color: #F8B84E;
  border-color: white;
  cursor: pointer;
  }

  .deletecontacts_btn{
    color: black;
    background-color: #892883;
    width: 150px;
    height: 40px;
    border-radius: 12px;
    color: white;
    margin-left: 85%;
    border-color: white;
    }
    
  .deletecontacts_btn:hover{
    color: white;
    background-color: #F8B84E;
    border-color: white;
    cursor: pointer;
    }

    .updatecontacts_btn{
      color: black;
      background-color: #892883;
      width: 150px;
      height: 40px;
      border-radius: 12px;
      color: white;
      margin-left: 85%;
      border-color: white;
      }
      
    .updatecontacts_btn:hover{
      color: white;
      background-color: #F8B84E;
      border-color: white;
      cursor: pointer;
      }
.paydel_btn{
  width: 90%;
  border-radius: 10px;
  color:white;
  background-color: #F8B84E;
  border-color: white;
  cursor: pointer;
}

.signout_btn{
  width: 120px;
  border-radius: 20px;
  height: 40px;
  border-color: white;
  background-color: #892883;
  color: white;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.signout_btn:hover{
  background-color: #F8B84E;
  cursor: pointer;
}